{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <center>
    <h1 class="display-4">eduscribe.ai</h1>
    <p class="lead">A restorative language learning model used to create access to understanding textual and auditory documents, whenever and wherever. </p>
  

    <hr class="my-4">
    <p>eduscribe.ai is compatible with both textual and auditory transcripts. It transcribes audio into text or takes existing text, analyzes it then translates it into a target language.</p>
  
    <a class="btn btn-primary btn-lg" href="/about" role="button">Demo</a>
  </center>
  </div>
{% endblock %}
