{% extends 'layout.html' %}

{% block body %}

<center>
<h1 class="display-4" style="background: linear-gradient(to right, lightblue, blue); font-size: 70px; -webkit-background-clip: text; background-clip: text; color: transparent; font-weight: bold;">summary</h1>

<br>

<div style="background-color: rgb(229, 231, 247); border-radius: 10px; padding: 20px; text-align: center; width: 80%">
    
    <p id="typewriter-text" style="font-weight: 300; text-align: left; padding: 10px;"></p>

    
</div>

</center>

<style>
    /* Styles for the floating circles */
    .floating-circle {
        position: absolute; /* Keep the position as absolute */
        border-radius: 50%;
        animation: floatCircle 4s infinite;
        opacity: 0.4; /* Lighter shade of blue (adjust opacity as needed) */
        z-index: -1; /* Set a lower z-index to place the circles behind other elements */
    
    }

    /* Define different shades of blue for the circles */
    .circle-1 {
        background-color: #adc2e6; /* Light blue */
        width: 40px;
        height: 40px;
    }

    .circle-2 {
        background-color: #87ceeb; /* Lighter blue */
        width: 60px;
        height: 60px;
    }

    .circle-3 {
        background-color: #6886da; /* Steel blue */
        width: 100px;
        height: 100px;
    }

    /* Keyframes for the floating animation */
    @keyframes floatCircle {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-15px);
        }
        100% {
            transform: translateY(0);
        }
    }
</style>

<script>
    const summaryText = {{ app_data.summaryText|tojson|safe }};
    const typewriterText = document.getElementById("typewriter-text");

    let charIndex = 0;

    function type() {
        if (charIndex < summaryText.length) {
            typewriterText.textContent += summaryText.charAt(charIndex);
            charIndex++;
            setTimeout(type, 50); // Adjust the typing speed as needed
        }
    }

    // Start the typewriter effect
    type();
</script>

{% endblock %}
