{% extends 'layout.html' %}

{% block body %}

<center>
<h1 class="display-4" style="background: linear-gradient(to right, lightblue, blue); font-size: 70px; -webkit-background-clip: text; background-clip: text; color: transparent; font-weight: bold;">summary</h1>

<br>

<div style="background-color: rgb(229, 231, 247); border-radius: 10px; padding: 20px; text-align: center; width: 80%">
    
    <p style="font-weight: 300; text-align: left; padding: 10px">{{ app_data.summaryText }}</p>

    
</div>

</center>

{% endblock %}
