{% extends 'layout.html' %}

{% block body %}

<center>
<h1 class="display-4" style="background: linear-gradient(to right, lightblue, blue); font-size: 70px; -webkit-background-clip: text; background-clip: text; color: transparent; font-weight: bold;">summary</h1>

<br>

<div style="background-color: rgb(229, 231, 247); border-radius: 10px; padding: 20px; text-align: center; width: 80%">
    
    <p style="font-weight: 300; text-align: left; padding: 10px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc pulvinar sapien et ligula ullamcorper. Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi tristique. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Eget sit amet tellus cras adipiscing enim eu. Aliquam malesuada bibendum arcu vitae elementum. Sit amet justo donec enim diam. Sit amet risus nullam eget felis eget nunc lobortis mattis. Sit amet consectetur adipiscing elit. Ornare arcu dui vivamus arcu felis. Integer eget aliquet nibh praesent tristique magna sit amet purus. Non tellus orci ac auctor. Vestibulum sed arcu non odio. Amet mattis vulputate enim nulla aliquet porttitor. Sagittis orci a scelerisque purus semper eget. Morbi blandit cursus risus at ultrices mi.</p>

    
</div>

</center>

{% endblock %}
